<div data-role="header" data-back-button="true">Options...</div>
<div data-role="content">
	<ul>
		<li data-input="select" data-param="imgsize">
			<label>Taille des images </label>
			<div data-input-role="option" data-val="max">Grande</div>
			<div data-input-role="option" data-val="med">Moyenne</div>
			<div data-input-role="option" data-val="min" data-default="true">Petite</div>
		</li>
		<li data-input="check" data-param="rotmap">
			<label>Rotation de la carte </label>
			<div data-input-role="info">Autoriser la rotation de la carte.</div>
		</li>
		<li data-input="check" data-param="zoombt" data-default=true>
			<label>Boutons de zoom </label>
			<div data-input-role="info">Afficher les boutons de zoom sur la carte.</div>
		</li>
	</ul>
</div>