<ul>
	<li onclick="wapp.toggleMenu();">
		<i class="fa fa-bars"></i>
	</li>
	<li onclick="wapp.setTracking(); wapp.hideMenu();">
		<i class="fa fa-map-marker"></i> Ma position
	</li>
	<li onclick="wapp.showPage('layers');">
		<i class="fa tools-layers"></i> Couches
	</li>
	<li onclick="wapp.showPage('cartes');">
		<i class="fa fa-map"></i> Mes cartes
	</li>
	<li onclick="wapp.showPage('fiche');">
		<i class="fa fa-warning"></i> Signalements
		<button>3</button>
	</li>
	<li onclick="wapp.showPage('options');">
		<i class="fa fa-list-ul"></i> Options
	</li>
	<li onclick="wapp.showPage('apropos');">
		<i class="fa fa-info-circle"></i> A propos...
	</li>
</ul>